<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Página Inicial</title>
</head>

<body>

    <section class="container">

        <header>

            <div class="header-container" role="Cabeçalho">

                <div class="header-logo">
                    <a href="index.html"><img src="./img/4food---logo.png" alt="Logo da 4Food"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#quemSomos">Quem somos</a></li>
                        <li><a href="#nossosProdutos">Nossos produtos</a></li>
                        <li><a href="#nossoTime">Nosso Time</a></li>
                        <li><a href="#trabalheConosco">Trabalhe conosco</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>
                </nav>
                
            </div>

        </header>

        <section class="main-content">
            <main>
                <section role="Quem somos" id="quemSomos">
                    <h2>Quem somos</h2>
                    <p>O 4Food é um projeto de uma grande rede de supermercados que está se digitalizando e criando um
                        sistema de compras e entregas recorrentes por aplicativo.</p>
                    <p>Velocidade e praticidade!? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi culpa,
                        ducimus distinctio blanditiis inventore fuga impedit temporibus molestiae recusandae possimus
                        odit, doloremque expedita non. Temporibus maiores a nihil quod animi iusto nesciunt sunt, ipsa
                        saepe aspernatur cumque est amet distinctio asperiores voluptates dolores dolorem nemo modi?
                        Modi maxime distinctio quis.</p>
                    <p>Temos!</p>
                    <br>
                </section>

                <section role="Nossos produtos" id="nossosProdutos">
                    <h2>Nossos produtos/serviços</h2>
                    <p>Planos pra você realizar planos com a quantidade de compras de supermercado online e a quantidade
                        de compras de comidas prontas que você definir semanalmente! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Omnis sit culpa, delectus aut mollitia perferendis expedita
                        dolores temporibus numquam illum qui deserunt veniam totam unde enim atque cupiditate nam
                        officiis adipisci neque iure voluptates! Corporis ratione recusandae, officia libero quibusdam
                        ex illum velit inventore quaerat nihil laudantium aliquid voluptas repellat?</p>
                    <div class="imageProdutos" role="imagens sobre o serviço">
                        <img src="./img/Compras1.png"
                            alt="Escolha seus produtos, compre os produtos que você ama e precisa para abastecer sua dispensa.">
                        <img src="./img/Compras2.png"
                            alt="defina o dia de entrega, seus pedidos são entregues no dia que você  escolher, dentro da sua rotina.">
                        <img src="./img/Compras3.png"
                            alt="receba em casa, aproveite sua vida sem se preocupar em ir ao mercado, nós vamos até você.">
                        <img src="./img/Compras4.png"
                            alt="programe cestas mensais, todos os meses novas cestas são criadas com base nos seus pedidos anteriores">
                    </div>
                    <div class="divButton" role="botão utilize os serviços">
                        <button>Utilize nossos serviços</button>
                    </div>
                    <br>
                </section>

                <section role="Nosso time" id="nossoTime">
                    <h2>Nosso time</h2>
                    <div class="containerTime">
                        <section class="time">
                            <p>Paulo</p>
                            <p>Da grande cidade de Quatá</p>
                            <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Si u
                                mundo tá
                                muito paradis? </p>
                            <img class="imgTime" alt="homem, branco, cabelos pretos, com barba, usando fone, sorrindo"
                                src="./img/paulo.jpeg">
                        </section>

                        <section class="time">
                            <p>Jil</p>
                            <p>Do polo automotimo de São Bernardo do Campo</p>
                            <p>Toma um mé que o mundo vai girarzis!In elementis mé pra quem é amistosis quis leo.Pra lá
                                ,
                                depois divoltis porris, paradis.</p>
                            <img class="imgTime" alt="mulher, branca, cabelo de lado, sorrindo, blusa preta"
                                src="./img/jil.jpeg">
                        </section>

                        <section class="time">
                            <p>Lincoln</p>
                            <P>Logo vamos descobrir</P>
                            <p>Suco de cevadiss deixa as pessoas mais interessantis.Interessantiss quisso pudia ce
                                receita
                                de bolis, mais bolis eu num gostis.</p>
                            <img class="imgTime" alt="homem, branco, de oculos, cabelo curto, sorrindo"
                                src="./img/lincoln.jpeg">
                            <br>
                        </section>
                    </div>
                </section>

                <section role="Trabalhe conosco" id="trabalheConosco">
                    <h2>Trabalhe conosco</h2>
                    <h3>Você tem fome de que?</h3>
                    <p>O 4Food é o lugar onde todos os dias o seu potencial é elevado ao máximo!</p>
                    <p>Aqui, você tem autonomia para revolucionar do seu jeito, ao lado de um time que joga junto para
                        fazer cada entrega acontecer. Juntamos a fome com a vontade de inovar porque a nossa aventura
                        não tem limites.
                    </p>
                    <p>Bora inovar conosco?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nobis, fuga labore repellendus
                        magnam officia saepe quo blanditiis reprehenderit recusandae delectus quod corrupti, cupiditate
                        molestiae quae repudiandae nesciunt dolore eius illum facere? Minus ad optio itaque omnis quas
                        eum adipisci fugit corporis cum, repudiandae sapiente voluptatibus enim laudantium error rem
                        voluptatem, dolor magnam cumque! Minima expedita veniam omnis? Hic labore eligendi veritatis
                        est, voluptates repellat obcaecati pariatur esse non corrupti. Pariatur accusantium sapiente
                        repellat voluptas, repudiandae asperiores a deserunt blanditiis nobis corrupti accusamus ipsam,
                        illo enim tempore doloribus mollitia alias unde! Ipsum aliquid, molestiae enim modi ea, fugit
                        culpa, iure tempora voluptas sunt accusamus id nihil dolorum nesciunt iste numquam. Quasi
                        explicabo, distinctio in similique error veritatis placeat maxime molestias deleniti veniam
                        laudantium ab, culpa, laborum aliquam! Aliquid dolores maxime voluptatem temporibus repellendus,
                        nesciunt dolore illo ab, necessitatibus enim, eveniet ea. Maiores officia neque, ipsum quia
                        nihil, expedita quas illo consequuntur repudiandae nam soluta facere ut, animi dolorum earum ab
                        reprehenderit. Modi ipsa iure laboriosam commodi beatae voluptate obcaecati tenetur? Deleniti
                        nulla vero, a beatae facilis adipisci voluptas, repudiandae commodi unde voluptate, ipsum iure
                        corporis recusandae aliquid deserunt voluptatibus! Soluta sed unde quibusdam illo vel alias vero
                        nemo eos</p>
                    <br>
                </section>
            </main>

        </section>

        <footer>
            <div class="footer-container" role="Rodapé">
                <div class="contato" id="contato">
                    <h2>Contato</h2>
                    <p>Bora conversar?</p>
                    <p>Dúvidas? Elogios? Sugestões? Aqui, até criticas são bem-vindas!</p> <br>
                    <a class="botaoContato" role="botão enviar um email" href="#">Envie um e-mail. </a>
                </div>
                <div class="social" role="redes sociais">
                    <a href="https://www.instagram.com/" alt="logotipo instagram" target="_blank"><img class="imgredes"
                            src="./img/insta-logo.png"></a>

                    <a href="https://pt-br.facebook.com/" alt="logotipo facebook" target="_blank"><img class="imgredes"
                            src="./img/face-logo.png"></a>

                    <a href="https://twitter.com/" alt="logotipo twitter" target="_blank"><img class="imgredes"
                            src="./img/twitter-logo.png"></a>

                    <a href="https://www.linkedin.com/" alt="logotipo linkedin" target="_blank"><img class="imgredes"
                            src="./img/linkedin-logo.png"></a>

                    <a href="https://web.whatsapp.com/" alt="logotipo whatsapp" target="_blank"><img class="imgredes"
                            src="./img/whatsaap-logo.png"></a>
                </div>
                <div class="author">
                    <p>Copyright © Grupo 3 </p>
                </div>
            </div>

        </footer>

    </section>

</body>

</html>