<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Página Inicial</title>
</head>

<body>

    <section class="container">

        <header>

            <div class="header-container">
                <div class="header-logo">
                    <a href="index.html"><img src="./img/4food---logo.png" alt="Logo da 4Food"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#quemSomos">Quem somos</a></li>
                        <li><a href="#nossosProdutos">Nossos produtos</a></li>

                        <li><a href="#nossoTime">Nosso Time</a></li>
                        <li><a href="#trabalheConosco">Trabalhe conosco</a></li>
                        <li><a href="#contato">Contato</a></li>
                    </ul>

                </nav>

            </div>

        </header>

        <section class="main-content">
            <main>
                <section role="Quem somos" id="quemSomos">
                    <h2>Quem somos</h2>
                    <p>O 4Food é um projeto de uma grande rede de supermercados que está se digitalizando e criando um
                        sistema de compras e entregas recorrentes por aplicativo.</p>
                    <p>Velocidade e praticidade!?</p>
                    <p>Temos!</p>
                    <br>
                </section>

                <section role="Nossos produtos" id="nossosProdutos">
                    <h2>Nossos produtos/serviços</h2>
                    <p>Planos pra você realizar planos com a quantidade de compras de supermercado online e a quantidade
                        de compras de comidas prontas que você definir semanalmente!</p>
                    <br>
                </section>
                <section role="Nosso time" id="nossoTime">
                    <h2>Nosso time</h2>
                    <section class="time">
                        <p>Paulo</p>
                        <p>Da grande cidade de Quatá</p>
                        <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis.Si u mundo tá
                            muito paradis? </p>
                        <img class="imgTime" src="./img/paulo.jpeg">
                    </section>

                    <section class="time">
                        <p>Jil</p>
                        <p>Do polo automotimo de São Bernardo do Campo</p>
                        <p>Toma um mé que o mundo vai girarzis!In elementis mé pra quem é amistosis quis leo.Pra lá ,
                            depois divoltis porris, paradis.</p>
                        <img class="imgTime" src="./img/jil.jpeg">
                    </section>

                    <section class="time">
                        <p>Linlcon</p>
                        <P>Logo vamos descobrir</P>
                        <p>Suco de cevadiss deixa as pessoas mais interessantis.Interessantiss quisso pudia ce receita
                            de bolis, mais bolis eu num gostis.</p>
                        <img class="imgTime" src="./img/lincoln.jpeg">
                        <br>
                    </section>
                </section>
                <section role="Trabalhe conosco" id="trabalheConosco">
                    <h2>Trabalhe conosco</h2>
                    <p>blablabla</p>
                    <br>
                </section>
            </main>

        </section>

        <footer>
            <div class="footer-container">
                <div class="contato" id="contato">
                    <h2>Contato</h2>
                    <p>Bora conversar?</p>
                    <p>Dúvidas? Elogios? Sugestões? Aqui, até criticas são bem-vindas!</p>
                    <a class="botaoContato" href="./contato.html">Envie um e-mail. </a>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/" target="_blank"><img class="imgredes"
                            src="./img/insta.jpeg"></a>

                    <a href="https://pt-br.facebook.com/" target="_blank"><img class="imgredes"
                            src="./img/face.jpeg"></a>

                    <a href="https://twitter.com/" target="_blank"><img class="imgredes" src="./img/twitter.jpg"></a>

                    <a href="https://www.linkedin.com/" target="_blank"><img class="imgredes"
                            src="./img/linked.jpg"></a>

                    <a href="https://web.whatsapp.com/" target="_blank"><img class="imgredes"
                            src="./img/whats.jpeg"></a>
                </div>
                <div class="author">
                    <p>Copyright © Grupo 3 </p>
                </div>
            </div>

        </footer>

    </section>

</body>

</html>